NEXT_PUBLIC_SUPABASE_URL=https://bkphsqmbtyfyzzqqcspy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJrcGhzcW1idHlmeXp6cXFjc3B5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTExODI2NCwiZXhwIjoyMDk0Njk0MjY0fQ.iIqpqNenkJ8Zrv3zQLnhAmd3EYO_BsDcgnlWob5Okdw